:root{
--degradado: linear-gradient(to bottom, hsla(0, 0%, 100%, 0.788) 0%, #dadadaf2 100%);
--oscuro: #3D3D3D;
--blanco: #ffffff;
}

html{
    font: 62.5%;
}

body{
    font-size: 16px;/*1 rem =10pxh1*/
    background: var(--degradado);
    font-family: 'Poppins', sans-serif;
}

h1{
    text-align: center;
    font-size: 3.8rem;
    color: var(--oscuro);
}

h1 span{
font-size: 2rem;
}

.navBg{
background-color:#f1cb28;
}

.container{
margin: 0 auto;
width: 120rem;
}

.principalNav{
width: inherit;
display: flex;
justify-content: space-around;
}

.principalNav a{
color: var(--blanco);
text-decoration: none;
font-size: 1.5rem;
font-weight: 400;
padding: 1rem;
}

.principalNav a:hover{
background-color: var(--oscuro);
}

@media (min-width: ) {
    
}