:root {
  --degradado: linear-gradient(
    to bottom,
    hsla(0, 0%, 100%, 0.788) 0%,
    #dadadaf2 100%
  );
  --oscuro: #3d3d3d;
  --blanco: #ffffff;
}

html {
  font: 62.5%;
  box-sizing: border-box;
  scroll-snap-type: y mandatory;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-size: 16px; /*1 rem =10pxh1*/
  background: var(--degradado);
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: 3.8rem;
  color: var(--oscuro);
}

h1 span {
  font-size: 2rem;
}

h2 {
  font-size: 2.4rem;
  color: var(--blanco);
  padding-top: 1rem;
}

h3 {
  font-size: 1.5rem;
  color: #f1cb28;
}

h1,
h2,
h3 {
  text-align: center;
}

.w100 {
  width: 100%;
}

#btnForm{
    background-color: #3d3d3d;
}

.button {
  background-color: #f1cb28;
  color: var(--blanco);
  text-decoration: none;
  padding: 1rem 3rem;
  font-size: 1.2rem;
  border-radius: 0.5rem;
  font-weight: 700;
  text-align: center;
  width: 80%;
  border: none;
}

.button:hover {
  cursor: pointer;
}

.shadow {
  -webkit-box-shadow: 0px 0px 14px -1px rgba(0, 0, 0, 0.66);
  -moz-box-shadow: 0px 0px 14px -1px rgba(0, 0, 0, 0.66);
  box-shadow: 0px 0px 14px -1px rgba(0, 0, 0, 0.66);
  background-color: var(--oscuro);
  padding: 2rem;
  border-radius: 1rem;
}

.container2 {
  margin: 0 auto;
  width: 90%;
}

.container2 p {
  color: var(--blanco);
  text-align: center;
}

.navBg {
  background-color: #f1cb28;
}

.container {
  margin: 0 auto;
  width: 100%;
}

.principalNav {
  display: flex;
  flex-direction: column;
}

.principalNav a {
  color: var(--blanco);
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 400;
  padding: 1rem;
  display: block;
  text-align: center;
}

.principalNav a:hover {
  background-color: var(--oscuro);
}

.devPic {
  background-image: url(./assets/station.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 450px;
  position: relative;
  margin-bottom: 2rem;
}

.containerDevPic {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #ffffff1d;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.containerDevPic h2,
.containerDevPic p {
  color: var(--blanco);
}

.service {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .service h3 {
    font-weight: 600;
    text-align: center;
  }
  
  .service p {
    line-height: 2;
  }
  
  .service .icons {
    height: 14rem;
    width: 14rem;
    background-color: var(--blanco);
    border-radius: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  
  /* #textContact{
      color: #f1cb28;
  } */
  
  .formStyle {
    background-color: #f1cb28;
    width: min(60rem, 100%);
    margin: 0 auto;
    padding: 2rem;
    border-radius: 1rem;
  }
  
  .formStyle fieldset {
    border: none;
  }
  
  .formStyle legend {
    text-align: center;
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 2rem;
    text-transform: uppercase;
  }
  
  .field {
    margin-bottom: 1rem;
  }
  
  .field label {
    font-weight: 600;
    margin-bottom: 0.5rem;
    display: block;
  }
  
  .inputText {
    width: 100%;
    border: none;
    padding: 1.2rem;
    border-radius: 0.5rem;
  }
  
  .field textarea{
      height: 20rem;
  }
  
  .footer{
      text-align: center;
  }

  .service, .navBg, .formStyle{
      scroll-snap-align: center;
      scroll-snap-stop: always;
  }

@media (min-width: 360px) {
  h1 {
    font-size: 3rem;
  }

  h1 span {
    font-size: 1rem;
  }

  .principalNav a {
    font-size: 1.2rem;
    padding: 0.7rem;
  }
}



@media (min-width: 760px) {
  .principalNav {
    flex-direction: row;
    justify-content: space-around;
  }

  .button {
    width: auto;
  }

  .services {
    display: grid;
    /* primero rows y luego columns */
    grid: auto / repeat(3, 1fr);
    column-gap: 1rem;
  }

  .w100 {
    width: auto;
  }

  .flex {
    display: flex;
  }

  .rightAlign {
    justify-content: flex-end;
    margin-top: 3rem;
  }

  
.fieldContainer {
    display: grid;
    /* grid-template-columns: repeat(2,1fr); */
    column-gap: 1rem;
    /* grid-template-rows: auto auto 20rem; */
    grid: auto auto 20rem/ repeat(2, 1fr);
}

.field:nth-child(3),
.field:nth-child(4)
{
    grid-column: 1/3;
}

}
